<connectionStrings>
    <add
      name="PTSconnString"
      connectionString="Server=DESKTOP-ATVPBPS;Database=PTSApp;Integrated Security=true;Encrypt=False"/>
    <add
      name="PTSconnString2"
      connectionString="Server=DESKTOP-ATVPBPS;Database=PTSApp2;Integrated Security=true;Encrypt=False"/>
    <add
      name="PTSconnString3"
      connectionString="Server=DESKTOP-ATVPBPS;Database=PTSApp3;Integrated Security=true;Encrypt=False"/>
</connectionStrings>


